@using HotelApp.Core;
@model List<Cliente>?
@{
    ViewData["Title"] = "Reservas";
}

<html>
    <head>
        <title>"Primer ejemplo"</title>
    </head>
    <body>
        <h1>@ViewData["Title"]</h1>

        <p>Use this page to detail your site's Reservas policy.</p>

        @if (Model == null)
        {
            <p>No funka</p>
        }
        else
        {
            <p>XD</p>
            @Model
        }

        <p>Hola</p>
    </body>
</html>