@using HotelApp.Core;
@model IEnumerable<Cama>;
@{
    ViewData["Title"] = "Camas";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Buscar Camas</h1>
    </div>

    <div class="text-center mt-4">
        <form asp-controller="Cama" asp-action="Buscar" method="get" class="form-inline justify-content-center">
            <input type="text" name="busqueda" class="form-control mr-2" placeholder="Buscar camas..." />
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>

    <div class="content-box mt-4">
        @if (Model.Count() == 0 && Context.Request.RouteValues.ContainsKey("Busqueda"))
        {
            <p class="text-muted">No se encontraron camas.</p>
        }
        else
        {
            <h3 class="mt-4">Lista de Camas</h3>
            <div class="table-responsive">
                <table class="table table-striped table-hover mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">IdCama</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Pueden dormir</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cama in Model)
                        {
                            <tr>
                                <th>@cama.IdCama</th>
                                <th>@cama.Nombre</th>
                                <th>@cama.Pueden_dormir</th>
                                <td>
                                    <a asp-action="Modificar" asp-route-Id="@cama.IdCama" class="btn btn-sm btn-outline-secondary">
                                        Modificar <i class="bi bi-pencil-fill"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>