@using HotelApp.Core;
@model Cama;
@{
    var texto = Model is null ? "Alta Cama" : "Modificar Cama";
    ViewData["Title"] = texto;
}

<form asp-controller="Cama" asp-action="Upsert" method="post">
    <div asp-validation-summary="All"></div>
    @if (Model != null)
    {
        <div><input type="hidden" asp-for="@Model.IdCama" /></div>
    }
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Pueden_dormir" class="form-label">Pueden dormir</label>
        <input asp-for="Pueden_dormir" class="form-control" type="number"/>
    </div>
    <div class="mb-3">
        @if (Model is null)
        {
            <button type="submit" class="btn btn-primary">@texto</button>
        }
        else
        {
            <button type="submit" class="btn btn-warning">@texto</button>
        }
    </div>
</form>