@using HotelApp.Core;
@model Reserva;
@{
    var texto = Model is null ? "Alta Reserva" : "Modificar Reserva";
    ViewData["Title"] = texto;
}

<form asp-controller="Reserva" asp-action="Upsert" method="post">
    <div asp-validation-summary="All"></div>
    @if (Model != null)
    {
        <div><input type="hidden" asp-for="@Model.IdReserva" /></div>
    }
    <div class="mb-3">
        <label asp-for="IdHotel" class="form-label">Id Hotel</label>
        <input asp-for="IdHotel" class="form-control" type="number"/>
    </div>
    <div class="mb-3">
        <label asp-for="Inicio" class="form-label">Inicio</label>
        <input asp-for="Inicio" class="form-control" type="date"/>
    </div>
    <div class="mb-3">
        <label asp-for="Fin" class="form-label">Fin</label>
        <input asp-for="Fin" class="form-control" type="date"/>
    </div>
    <div class="mb-3">
        <label asp-for="Dni" class="form-label">DNI</label>
        <input asp-for="Dni" class="form-control" type="number"/>
    </div>
    <div class="mb-3">
        <label asp-for="Numero" class="form-label">Numero Cuarto</label>
        <input asp-for="Numero" class="form-control" type="number"/>
    </div>
    <div class="mb-3">
        @if (Model is null)
        {
            <button type="submit" class="btn btn-primary">@texto</button>
        }
        else
        {
            <button type="submit" class="btn btn-warning">@texto</button>
        }
    </div>
</form>