@using HotelApp.Core;
@model Hotel_Cuarto;
@{
    var texto = "Agregar cuarto";
    ViewData["Title"] = texto;
}

<form asp-controller="Hotel" asp-action="AccionDeAgregarCuarto" method="post">
    <div asp-validation-summary="All"></div>
    @if (Model != null)
    {
        <div><input type="hidden" asp-for="@Model.IdHotel" /></div>
    }
    <div class="mb-3">
        <label asp-for="IdCuarto" class="form-label">Coloque el IdCuarto</label>
        <input asp-for="IdCuarto" class="form-control" type="number" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">@texto</button>
    </div>
</form>