@using HotelApp.Core;
@model Hotel;
@{
    var texto = Model is null ? "Alta Hotel" : "Modificar Hotel";
    ViewData["Title"] = texto;
}

<form asp-controller="Hotel" asp-action="Upsert" method="post">
    <div asp-validation-summary="All"></div>
    @if (Model != null)
    {
        <div><input type="hidden" asp-for="@Model.IdHotel" /></div>
    }
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Domicilio" class="form-label">Domicilio</label>
        <input asp-for="Domicilio" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Contrasena" class="form-label">Contraseña</label>
        <input asp-for="Contrasena" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Estrella" class="form-label">Estrella</label>
        <input asp-for="Estrella" class="form-control" max="5" min="0"/>
    </div>
    <div class="mb-3">
        @if (Model is null)
        {
            <button type="submit" class="btn btn-primary">@texto</button>
        }
        else
        {
            <button type="submit" class="btn btn-warning">@texto</button>
        }
    </div>
</form>